@import '../var';

.Home {
    background-color: $black;
    height: 100%;
    color: $white;

    main {
        min-height: calc(95vh - 94px);

        h3 {
            margin: 50px 50px 20px 50px;
            font-size: 38px;
            border-bottom: solid 2px $white;
            border-radius: 5%;
            align-self: normal;
        }

        .About {
            position: relative;

            margin: 50px 0 50px 0;
            padding: 50px 20px 50px 20px;
            background-color: $white;
            background: linear-gradient(135deg, #ECECEC, 50%, #ffdddd);
            color: $black;
            font-weight: 700;
            width: fit-content;
            min-width: 66%;
            border-radius: 0 50% 50% 0;

            h1 {
                margin: 0;
                font-size: 32px;
                margin-left: 100px;

                @media (max-width: 1024px) {
                    margin-left: 0px;
                }
            }

            h2 {
                margin: 0;
                font-size: 42px;
                margin-left: 100px;

                @media (max-width: 1024px) {
                    margin-left: 0px;
                }
            }

            p {
                margin: 0;
                font-size: 20px;
                margin: 20px 0 0 100px;
                width: 80%;

                @media (max-width: 1024px) {
                    margin-left: 0px;
                }
            }

            .AboutPP {
                position: absolute;
                right: -250px;
                top: 0;
                background-color: $black;
                border-radius: 100%;
                //box-shadow: 0px 0px 20px 2px $white;
                //overflow: hidden;

                img {
                    height: 200px;
                    filter: drop-shadow(3px 3px 5px $white);
                }

                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }

        .Skills {

            margin: 50px 0;

            .GridSkills {
                background-color: $black;
                justify-content: center;
                padding: 0 10% 0 10%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                .ListSkills {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    h4 {
                        text-align: center;
                        width: 100%;
                        height: 50px;
                        font-size: 30px;
                        margin: 0 0 10px 0;
                        border-bottom: solid 2px $white;
                        border-radius: 5%;
                    }
                }

                @media (max-width: 1024px) {
                    padding: 0;
                    width: 80%;
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            @media (max-width: 1024px) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 25px;
            }
        }

        .MindSkills {
            width: 100%;



            img,
            iframe {
                width: 100%;
                height: 600px;
                border-radius: 20px 200px;
                box-shadow: 2px 2px 15px $white;
            }

            @media (max-width: 1024px) {
                display: none;
            }
        }

        .Career {

            ul {
                margin: 0 50px;
                list-style-type: disclosure-closed;
                font-size: 24px;

                li {
                    margin: 10px;
                    padding: 5px 10px;
                    border: solid 1px $white;
                    width: fit-content;
                    border-radius: 20px;
                    box-shadow: 1px 1px 5px $white;
                }
            }

        }

        .Projects {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .Contact {
            display: flex;
            flex-direction: column;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 500px;
                margin: 10px 0 20px 0;

                .form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    label {
                        font-weight: 600;
                        align-self: normal;
                        margin: 15px 0 1px 15px;
                        font-size: 24px;
                    }

                    input,
                    textarea {
                        width: 100%;
                        font-size: 20px;
                        padding: 10px 15px;
                        border: solid 1px $white;
                        box-shadow: 2px 2px 8px $white;
                        background-color: $white;
                    }

                    input {
                        border-radius: 100px;
                    }

                    textarea {
                        height: 250px;
                        font-size: 18px;
                        border-radius: 30px;
                    }
                }

                button {
                    margin-top: 20px;
                    width: 50%;
                    font-size: 24px;
                    border-radius: 50px;
                    font-weight: 600;
                    padding: 5px;
                    border: solid 1px $white;
                    box-shadow: 2px 2px 8px $white;
                    transition: transform 0.5s ease;
                    background-color: $black;
                    color: $white;
                }

                button:hover {
                    transform: scale(1.05);
                    background-color: $white;
                    color: $black;
                }

                @media (max-width: 1024px) {
                    width: 80%;
                }
            }
        }
    }
}