@import '../var';

.Home {
    background-color: $black;
    height: 100%;
    color: $white;

    main {
        min-height: calc(95vh - 94px);

        h3 {
            margin: 50px 50px 20px 50px;
            font-size: 38px;
            border-bottom: solid 2px $white;
            border-radius: 5%;
        }

        .About {
            position: relative;

            margin: 50px 0 50px 0;
            padding: 50px 20px 50px 20px;
            background-color: $white;
            background: linear-gradient(135deg, #ECECEC, 50%, #ffc9c9);
            color: $black;
            font-weight: 700;
            width: fit-content;
            min-width: 66%;
            border-radius: 0 50% 50% 0;

            h1 {
                margin: 0;
                font-size: 32px;
                margin-left: 100px;
            }

            h2 {
                margin: 0;
                font-size: 42px;
                margin-left: 100px;
            }

            p {
                margin: 0;
                font-size: 20px;
                margin: 20px 0 0 100px;
                width: 80%;
            }

            .AboutPP {
                position: absolute;
                right: -250px;
                top: 0;
                background-color: $black;
                border-radius: 100%;
                //box-shadow: 0px 0px 20px 2px $white;
                //overflow: hidden;

                img {
                    height: 200px;
                    filter: drop-shadow(3px 3px 5px $white);
                }
            }
        }

        .Skills {

            margin: 50px 0;

            div {
                background-color: $white;
                background: linear-gradient(135deg, #ECECEC, 50%, #ffb6b6);
                display: flex;
                justify-content: center;
                width: 50%;

                img {
                    height: 500px;
                }
            }

            .C1 {
                margin: 0 0 0 5%;
                border-radius: 30px 300px;
            }

            .C2 {
                margin: 0 0 0 45%;
                border-radius: 300px 30px;
            }
        }

        .MindSkills {
            width: 100%;



            img,
            iframe {
                width: 100%;
                height: 600px;
                border-radius: 20px 200px;
                box-shadow: 2px 2px 15px $white;
            }
        }

        .Career {

            ul {
                margin: 0 50px;
                list-style-type: disclosure-closed;
                font-size: 24px;

                li {
                    margin: 10px;
                    padding: 5px 10px;
                    border: solid 1px $white;
                    width: fit-content;
                    border-radius: 20px;
                    box-shadow: 1px 1px 5px $white;
                }
            }

        }

        .Projects {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                align-self: normal;
            }
        }

        .Contact {
            height: 500px; //
        }
    }
}